<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <commands>
      <command name="cachemanager:clear" type="CacheManager.Commands.Clear, CacheManager" />
      <command name="cachemanager:clear:remote" type="CacheManager.Commands.ClearRemote, CacheManager" />
    </commands>
  </sitecore>
</configuration>